@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.hello-world-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello-world {
  background-color: brown;
  padding: 100px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  border-radius: 8px;
}
